html,
body
{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body
{
    font-family: "Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
    font-size: 18px;
    color: #333;
}

.fairy-step
{
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}
.fairy-step.current
{
    opacity: 1 !important;
}
.fairy-step.show
{
    opacity: .3;
}

pre.code-pre
{
    text-align: left;
    border: gray solid 1px;
    padding: 0 20px;
    border-radius: 10px;
    background: #eee;
}